*
{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
}
body, html{
    height: 100%;
    margin: 0;
}
.bg{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absulute;
    animation: animate 20s step-end infinite;
    animation-timing-function: ease-in-out;
}
#para{
    color: black;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 25px;
    font-style: italic;
    top: 25px;
}
.bg >p{
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 15px;
    font-style: italic;
    padding-top: 10px;
}
.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding-top: 30px;
    width: 250px;
}
@keyframes animate{
	0%,100%{
   background-image:  url("reflection%20lake.jpg");
	}
	25%{
  background-image: url("green.jpg");
	}
	50%{
   background-image: url("night.jpg");
	}
	75%{
 background-image: url("mount%20everest.jpg");
	}   
}