*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
}
.page{
    display: grid;
    grid-template-areas: 'header header header'
        'main main main'
        'center center center'
        'left middle right'
        'footer footer footer';
    overflow: hidden;
}
.page >div{
    border: 1px solid black;
    background-color: black;
    color: #fff;
}
.header{
    grid-area: header;
    overflow: hidden;
}
#text{
    font-size: 700;
    letter-spacing: 10px;
    font-weight: 700;
    padding-top: 40px;
    padding-left: 25px;
    float: left;
}
ul#menu li{
    border-radius:25px;
    display: block;
    list-style: none;
    padding: 25px 15px;
    float: right;
}
#menu li:hover{
    background-color: #CC0000;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.header img{
    float: left;
}
.header a{
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.header h2{
    color: #FF6600;
}
.main{
    grid-area: main;
    overflow: hidden;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.main p{
    letter-spacing: 15px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    color: #fff;
}
.center{
    grid-area: center;
    overflow: hidden;
    text-align: center;
    padding-bottom: 50px;
    display: flex;
}
.inner{
    flex: 33.33%;
    padding: 5px;
}
.inner >img{
    border-radius: 50%;
    width: 225px;
    height: 250px;
}
.inner p{
    font-weight: lighter;
    color: lightgrey;
}
.left{
    grid-area: left;
    overflow: hidden;
    text-align: center;
}
.left h2{
    padding-top: 100px;
}
.left #setting{
    padding-top: 20px;
}
.left h3{
    text-align: center;
    letter-spacing: 15px;
    font-size: 600;
    font-weight: 600;
    padding-top: 20px;
}
.middle{
    grid-area: middle;
    overflow: hidden;
    text-align: center;
}
.middle h2{
    padding-top: 100px;
}
.middle i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.middle p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.middle p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.middle p a{
	color:  #5383d3;
	text-decoration: none;;
}
.right{
    grid-area: right;
    overflow: hidden;
    text-align: center;
}
.right h2{
    margin-left: 50px;
    padding-left: 50px;
    padding-top: 95px;
}
.right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}
.right form{
	display: inline-block;
}
.right form input,
.right form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;
	width: 400px;
	padding: 18px;
}
.basic ::-webkit-input-placeholder {
	color:  #5c666b;
}
.basic ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}
.basic :-ms-input-placeholder{
	color:  #5c666b;
}
.right form input{
	height: 55px;
	margin-bottom: 15px;
}
.right form textarea{
	height: 100px;
	margin-bottom: 20px;
}
.right form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}
.footer{
    grid-area: footer;
    overflow: hidden;
}
.footer h3{
    text-align: center;
    letter-spacing: 15px;
    font-size: 600;
    font-weight: 600;
    padding-top: 30px;
    color: #fff;
}
ul#align li{
    list-style: none;
    display: inline;
}
#align li a{
    text-decoration: none;
}
.basic{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 45px;
	margin-top: 80px;
}
.basic .motto{
	color:  #8d9093;
	font-size: 30px;
	margin: 0;
    letter-spacing: 10px;
}
.basic .company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}
.links a{
    font-size: 20px;
    font-weight: 600;
}
.basic .links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}
.basic .links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 600px){
    .basic{
		padding: 35px;
	}
	.basic .motto{
		font-size: 18px;
	}
	.basic .company-name{
		font-size: 12px;
	}
	.basic .links{
		font-size: 14px;
		padding: 25px 0 20px;
	}
	.basic .links a{
		line-height: 1.8;
	}
}